In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../datasets/2010-2012.tsv', sep='\t')

In [6]:
#Data 확인
df

,년도,가수,제목,남녀,장르,최고순위,작사가,작곡가,소속사,가사
0,20100121,2AM,죽어도 못 보내,Male,발라드,1,방시혁,방시혁,JYP Entertainment,어려도 아픈 건 똑같아 세상을 잘 모른다고 아픈걸 모르진 않아 괜찮아 질 거라고 왜...
1,20100114,CNBLUE,외톨이야,Male,록/메탈,1,"한성호, 에이맨","김도훈, 이상호",FNC엔터테인먼트,외톨이야 외톨이야 외톨이야 외톨이야 봐봐 나를 봐봐 똑바로 내 두 눈을 봐 거봐 이...
2,20100128,소녀시대,Oh!,Female,댄스,1,"김정배, 김영후",KENZIE,SM Entertainment,전에 알던 내가 아냐 Brand New Sound 새로워진 나와 함께 One Mor...
3,20100104,현아,Change,Female,댄스,5,"신사동호랭이, 전혜원","신사동호랭이, 전혜원",큐브엔터테인먼트,"yeah, this, I'm bring it bring it let let's go..."
4,20100121,2AM,웃어 줄 수 없어서 미안하다,Male,발라드,6,슈퍼창따이,슈퍼창따이,JYP Entertainment,헤. 어. 지. 자 오늘 무슨 말이라도 내게 하지 말아줘 장난스런 너의 말도 받아줄...
...,...,...,...,...,...,...,...,...,...,...
494,20120604,버즈,가슴이 운다,Male,록/메탈,84,윤우현,윤우현,에이원피플,내 우쭐대는 자신감에 울었어 잘난 자존심에 또 울었어 쉽게 다가온 널 가볍게 생각했...
495,20120703,윤하 (YOUNHA),우린 달라졌을까 (With John Park),Mixed,발라드,86,"양재선, Score (13)",김병석,C9 ENTERTAINMENT,다 잊었다고 난 생각 했나봐 내 마음조차 날 속였었나봐 마주보던 날들 함께 웃었던 ...
496,20120713,김재중,살아도 꿈인 것처럼,Male,"발라드, 국내드라마",91,김재중,임동균,이김프로덕션,내가 기억해 너무 사랑했던 나의 여자라는 걸 기억해 너만큼은 시간이 지나도 너의 숨...
497,20120621,버스커 버스커,그댈 마주하는건 힘들어 (그마힘),Male,록/메탈,92,장범준,장범준,Stone Music Entertainment,그댈 마주하는거는 너무 힘들어 그때 그 기억이 나를 괴롭게 하네 이런 말을 해도 될...
498,20120531,예성 (YESUNG),꽃보다 그녀,Male,"댄스, 국내드라마",97,김현우,"김현구, 공두형",DRM미디어 & 김종학프로덕션,그대를 사랑해 my love 모든 걸 줄게요 oh my love 저 하늘의 별보다 ...

In [11]:
#가수 중복 확인
test = df['가수'].unique()
test

array(['2AM', 'CNBLUE', '소녀시대', '현아', '포맨', '씨야, 다비치, 티아라', '4minute',
       '애프터스쿨', '2PM', '럼블피쉬', '카라', 'f(x)', '민경훈', '이승기', '대성', '지연',
       '제국의아이들', '케이윌', '티아라', '비스트', '디셈버', '브라운 아이드 소울', '2NE1',
       'Supreme Team', '엠블랙', '시크릿', '동방신기', '아이유', '선예', '달샤벳', '인피니트',
       '슈프림팀', '틴탑', '쥬얼리', '이창민, 진운', '이현', '빅뱅', '크리스탈', '수지', '강승윤',
       'miss A', '양요섭', '허각', '레인보우', '백지영', '장재인', 'SG 워너비', '김범수',
       '주니엘', '김지수', '신용재', '이하이', '서인국', '걸스데이', '씨스타', '태연', '서인영',
       '성시경', '버스커버스커', '울랄라세션', '버스커 버스커', '효린', '원더걸스', '브라운아이드걸스',
       '에이핑크', '가인', '백아연', '에일리', '박명수', '써니힐', '블락비', '10cm', '프라이머리',
       '미쓰에이', '손담비', '태양', '조권', '나르샤', '지나', '샤이니', '간미연', 'SE7EN',
       '이승철', '정엽', '환희', '먼데이 키즈', '먼데이', '빅마마', 'Homme', 'DJ DOC', '보아',
       '다비치', '지아', '박재범, 용감한 형제', '아이유, 유승호', '길미', 'FTISLAND',
       'Supreme Team, 영준', '휘성', '임정희', '미스에스', '박유천, XIA (준수), 김재중',
       '가비엔제이', 'GG (박명수 & G-Dragon)', '처진 달팽이 (유재석 & 이적)',
       '바닷길 (길 & 바다)', '철싸 (노홍철 & 싸이 (PSY))', '파리돼지앵 (정형돈 & 정재형)',
       '스윗 콧소로우 (정준하 & 스윗소로우)', '센치한 하하 (하하 & 10cm)', '정용화 (CNBLUE)',
       '리쌍', 'SUPER JUNIOR (슈퍼주니어)', '10CM', '김준수', '버벌진트', '싸이 (PSY)',
       '이종현', 'JUNIEL', '허각, 지아', '레게 강 같은 평화', '신용재 (2F)', '아이유, 피에스타',
       '서인국, 정은지', 'G-DRAGON', '나얼', '정은지, 서인국', '오렌지 캬라멜', '어반자카파',
       '태연 (TAEYEON)', '다이나믹 듀오', '나인뮤지스', '박재범', 'EXID', 'B1A4', '씨엔블루',
       '이효리', '예성 (YESUNG)', '은지원', '유키스', '김태우', '제국의아이들(ZE:A)',
       '가인, 조권', 'TraxX (트랙스)', '제아, 미료', '현아, 낯선', 'SS501',
       'CNBLUE (씨엔블루)', '코요태', 'T.O.P', '소녀시대 (GIRLS` GENERATION), 2PM',
       '소연', '크리스탈 (KRYSTAL)', '이보람, 효민, 지연', '빅뱅, 트랜스 픽션', '송지은',
       '브레이브걸스', '김보경 (NEON)', '나르샤 (Brown Eyed Girls)', 'F-ve Dolls',
       'GD&TOP', 'NS 윤지', '동방신기 (TVXQ!)', '제국의아이들 (ZE:A)', '박봄', '씨스타19',
       '김그림', 'Apink (에이핑크)', 'Of 비스트', 'Jessica (제시카)',
       'FTISLAND (FT아일랜드)', '장우혁', '허영생', '김현중', '보이프렌드', '종현 (JONGHYUN)',
       '신화', '양요섭, 정은지', '트러블메이커', 'EXO-K', '스피카', '티파니 (TIFFANY)',
       '소녀시대-태티서 (Girls` Generation-TTS)', '아이비', '블락비 (Block B)',
       'XIA (준수)', 'B.A.P', '헬로비너스', 'JJ Project', '이해리 (다비치)', '버즈',
       '윤하 (YOUNHA)', '김재중'], dtype=object)

In [12]:
# 가수와 소속사 비교
test1 = df.loc[:, ['가수', '소속사']]
test1

              가수                        소속사
0            2AM          JYP Entertainment
1         CNBLUE                  FNC엔터테인먼트
2           소녀시대           SM Entertainment
3             현아                   큐브엔터테인먼트
4            2AM          JYP Entertainment
..           ...                        ...
494           버즈                      에이원피플
495  윤하 (YOUNHA)           C9 ENTERTAINMENT
496          김재중                     이김프로덕션
497      버스커 버스커  Stone Music Entertainment
498  예성 (YESUNG)           DRM미디어 & 김종학프로덕션

[499 rows x 2 columns]

In [14]:
test1 = test1.drop_duplicates()
test1

              가수                        소속사
0            2AM          JYP Entertainment
1         CNBLUE                  FNC엔터테인먼트
2           소녀시대           SM Entertainment
3             현아                   큐브엔터테인먼트
5             포맨            YWHO Enterprise
..           ...                        ...
492          써니힐  Stone Music Entertainment
494           버즈                      에이원피플
495  윤하 (YOUNHA)           C9 ENTERTAINMENT
496          김재중                     이김프로덕션
498  예성 (YESUNG)           DRM미디어 & 김종학프로덕션

[272 rows x 2 columns]

In [29]:
test2 = test1.loc[:, ['가수']].duplicated() #여기서 가수의 이름이 중복된다면 두가지 소속사가 존재하는것이므로 row 번호룰 저장해둔다
cnt = 0
for idx, value in test2.items():
    if(value == True):
        print(idx - 1)

11
31
33
34
37
39
54
56
62
66
74
78
82
85
97
115
131
137
149
151
154
192
194
216
225
243
274
277
281
282
283
290
292
293
303
305
308
310
320
326
327
328
331
332
337
340
342
347
355
362
365
366
367
369
376
378
383
390
406
408
409
413
415
416
426
428
431
433
443
445
468
472
478
479
483
484
490
491
497